body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.workout-form {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

.workout-input {
  display: flex;
  flex-direction: row;
  align-items: center;
  margin-bottom: 16px;
}

.workout-input label {
  margin-right: 8px;
}

.workout-input input {
  width: 64px;
  margin-right: 8px;
}

.miles-unit {
  margin-left: 8px;
}

.time-unit {
  margin-left: 4px;
  margin-right: 4px;
}